.search-results {
    width: 100%;
    .control-container {
        display: flex;
        flex-wrap: wrap;
    }
    .fetch-more-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button {
        width: 40%;
        height: 48px;
        font-size: 18px;
    }
    margin-bottom: 84px;
}